body {
    background-color: antiquewhite;
}

header h1 {
    background-color: cadetblue;
    color: darkgray;
 }

 nav ul { 
     display: inline;
     text-decoration: none;
     font-size: 35px;
 }

 img {
     width: 200px;
     height: 300px;
 }