body {
    background-color: antiquewhite;
}

header h1 {
    background-color: black;
    color: darkgray;
 }

 nav ul { 
     display: inline-block ;
     text-decoration: none;
     font-size: 35px;
 }

 img {
     width: 200px;
     height: 300px;
 }